.job-main-container {
  display: "flex";
  flex-direction: column;
  width: 95%;
  background: #eeeee4;
  border-radius: 12px;
  height: auto;
  margin: auto;
  padding-bottom: 30px;
  margin-bottom: 50px;

  .job-header {
    display: flex;

    .company-logo {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin-left: 20px;
      margin-top: 20px;
    }

    .job-subheader {
      display: flex;
      flex-direction: column;
      width: 100%;
      .title-and-salary {
        display: flex;
        flex-direction: row;
        .job-title {
          margin-top: 20px;
          font-weight: 700;
          font-size: 16px;
          margin-left: 20px;
        }
        .job-salary {
          display: flex;
          margin-top: 20px;
          margin-right: 50px;
          margin-left: auto;
        }
      }
      .location-and-experience {
        display: flex;
        margin-left: 15px;
        .job-location {
          display: flex;
          flex-direction: row;
          .job-loc-icon {
            margin-top: 5px;
            margin-right: 10px;
          }
        }
        .job-experience {
          display: flex;
          margin-left: 40px;
          .job-exp-icon {
            margin-top: 5px;
            margin-right: 10px;
          }
        }
      }
    }
  }
  .job-description {
    margin-left: 90px;
    .job-descp-text {
      font-size: 16px;
      font-weight: 400;
    }
  }
  .job-btns-container {
    display: flex;
    justify-content: space-between;
    margin-left: 80px;
    align-self: auto;
    flex-flow: wrap;
    margin-top: 30px;

    .job-btn {
      width: 35%;
      border: none;
      color: #ffffff;
      margin-left: 10px;
      margin-right: 10px;
      background-color: #d58936;
    }
    .job-btn-apply {
      width: 35%;
      border: none;
      color: #ffffff;
      margin-left: 10px;
      margin-right: 10px;
      background-color: #d58936;
      margin-right: 50px;
    }
  }
  .job-applied{
    width: 20%;
    height: 200px;
    display: block;
    margin: auto;
  }
}

@media (max-width: 500px) {
  .job-main-container {
    width: auto;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 5%;

    .job-header {
      display: flex;
      .job-subheader {
        display: flex;
        flex-direction: column;
        width: 100%;
        .location-and-experience {
          display: flex;
          flex-direction: column;
          .job-location {
            display: flex;
            flex-direction: row;
            .job-loc-icon {
              margin-top: 5px;
              margin-right: 10px;
            }
          }
          .job-experience {
            display: flex;
            margin-left: 0px;
            .job-exp-icon {
              margin-top: 5px;
              margin-right: 10px;
            }
          }
        }
      }
    }

    .job-description {
        margin-left: 20px;
        .job-descp-text {
          font-size: 14px;
          font-weight: 400;
        }
      }

    .job-btns-container {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      margin-left: 20px;
      align-self: auto;
      flex-flow: wrap;
      margin-top: 30px;
      .job-btn {
        width: 100%;
        border: none;
        color: #ffffff;
        margin-left: 10px;
        margin-right: 30px;
        background-color: #d58936;
        margin-bottom: 20px;
      }
      .job-btn-apply {
        width: 100%;
        border: none;
        color: #ffffff;
        margin-left: 10px;
        margin-right: 30px;
        background-color: #d58936;
      }
    }
    .job-applied{
      display: block;
      margin: auto;
      width: 100%;
      margin-top: 5%;
      height: 150px;
    }
  }
}
